<!doctype html>
<html>
<head>
    <title>滴</title>

    <meta charset="utf-8">
    <meta name="google" value="notranslate">

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="background"></div>
    <div class="center">404</div>
</body>
</html>
