<!doctype html>
<html>

<head>
    <meta charset="utf8" />
    <title>drop (滴)</title>
</head>

<body>
    <pre>drop (滴)</pre>

    <ul>
        {{#each drops}}
        <li>
            <a href="{{base_url}}/{{this.id}}" target="_blank">{{this.id}}</a>
        </li>
        {{/each}}
    </ul>
</body>

</html>